<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762187826574-3231mf0d2hcs4i2s96bp4tkogl31kfg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762187826574-3231mf0d2hcs4i2s96bp4tkogl31kfg9</string>
	<key>API_KEY</key>
	<string>AIzaSyBX8rqEFYW5KFVEF4MHCcmTaV1B0inIn68</string>
	<key>GCM_SENDER_ID</key>
	<string>762187826574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JoeBarr.Kahnnected</string>
	<key>PROJECT_ID</key>
	<string>kahnnected-309ee</string>
	<key>STORAGE_BUCKET</key>
	<string>kahnnected-309ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762187826574:ios:c2b8bd2df09c113ec750df</string>
</dict>
</plist>